a {
  position: absolute;
  top: 3%;
  left: 2%;
  text-align: center;
}

#start-ar {
  position: absolute;
  top: 3%;
  right: 2%;
}

#object-placement {
  position: absolute;
  bottom: 3%;
  right: 4%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#enable-tracking {
  position: absolute;
  bottom: 3%;
  left: 4%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lightestimate-depthsensing {
  position: absolute;
  top: 15%;
  left: 5%;
}

#content-intensity {
  color: rgba(233, 56, 56, 0.9);
  background-color: rgba(129, 123, 123, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  font-weight: 600;
  border-radius: 7px;
}

#content-direction {
  color: rgba(9, 51, 240, 0.8);
  background-color: rgba(190, 174, 174, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  font-weight: 600;
  border-radius: 7px;
}

#directional-light-value {
  color: rgba(233, 75, 75, 0.9);
  background-color: rgba(124, 121, 121, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  font-weight: 600;
  border-radius: 7px;
}

#depth-info {
  color: rgba(255, 0, 0, 0.8);
  background-color: rgba(102, 105, 105, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  font-weight: 600;
  border-radius: 7px;
}

#depth-in-meters {
  color: rgba(9, 51, 240, 0.8);
  background-color: rgba(190, 174, 174, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
  font-weight: 600;
  border-radius: 7px;
}
